* {
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
    -ms-user-select: none;     /* For Internet Explorer and Edge */
    user-select: none;         /* Standard property */
  }

  button, h1, h2, h3, h4, h5, h6 {
    user-select: none;
  }

  body{
    background: rgb(250,250,250);
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(226,226,226,1) 25%, rgba(205,205,205,1) 50%, rgba(224,224,224,1) 75%, rgba(255,255,255,1) 100%);
}